<?xml version = "1.0" encoding="UTF-8"?>
<plugin
  id="de.grogra.imp"
  version="1.3"
  class="de.grogra.imp.IMP"
  xmlns="http://grogra.de/registry">

  <library file="BrowserLauncher2-1_3.jar" prefixes="{edu.stanford.ejalbert, edu.stanford.ejalbert.exception, net.sf.wraplog, at.jta}"/>
  <library file="jai_imageio.jar" prefixes="{com.sun.media,jj2000.j2k}"/>
  <library file="IMP.jar" prefixes="{de.grogra.imp,org.jibble.epsgraphics}"/>

  <import plugin="de.grogra.pf"/>
  <import plugin="de.grogra.pf.ui.swing"/>
  <import plugin="de.grogra.math"/>

  <registry>

    <ref name="attributes">
      <directory name="text">
        <attribute name="caption"/>
        <attribute name="font"/>
        <attribute name="horizontalAlignment"/>
        <attribute name="verticalAlignment"/>
        <attribute name="bordered"/>
      </directory>
      <directory name="color">
        <attribute name="color"/>
        <attribute name="backgroundColor"/>
        <attribute name="transparent"/>
      </directory>
      <directory name="geometry">
        <directory name="shape">
          <attribute name="radius"/>
          <attribute name="width"/>
          <attribute name="height"/>
          <attribute name="baseRadius"/>
          <attribute name="topRadius"/>
          <attribute name="length"/>
          <attribute name="angle"/>
          <attribute name="surface"/>
          <attribute name="flatness"/>
          <attribute name="curve"/>
          <attribute name="vertexGrid"/>
        </directory>
        <directory name="transformation">
          <attribute name="transforming"/>
        </directory>
      </directory>
    </ref>
    <ref name="objects">
      <ref name="files">
        <itemfactory name="add" type="de.grogra.pf.ui.registry.SourceFile" expr="de.grogra.imp.IMP.getFileToAdd">
          <var name="context"/>
        </itemfactory>
      </ref>
      <resdir name="images">
        <filefactory name="file" type="de.grogra.imp.objects.FixedImageAdapter" directory="images"/>
      </resdir>
      <resdir name="objects">
        <command name=".addobject" run="de.grogra.imp.IMP.addNode"/>
        <filefactory name="file" type="de.grogra.graph.impl.Node" directory="objects"/>
      </resdir>
      <resdir name="fonts">
        <factory name="font" class="de.grogra.imp.objects.FontAdapter"/>
        <eval name="&quot;null&quot;" type="de.grogra.imp.objects.FontAdapter"/>
      </resdir>
      <resdir name="meta"/>
      <directory name="graphs">
        <factory name="project" class="de.grogra.imp.ProjectGraphDescriptor"/>
        <factory name="meta" class="de.grogra.imp.MetaGraphDescriptor"/>
      </directory>
    </ref>
    <ref name="ui">
      <ref name="options">
        <option name="highlightOnMove" type="java.lang.Boolean" value="true"/>
        <!-- <option name="highlightOnClick" type="java.lang.Boolean" value="true"/> -->
      </ref>
      <ref name="commands">
        <command name="close" plugin="true"/>
        <command name="exit" plugin="true"/>
        <command name="export" plugin="true"/>
        <command name="snapshot" plugin="true"/>
        <command name="newproject" class="de.grogra.imp.NewProject"/>
      </ref>
      <ref name="editors">
        <poly name="image" type="de.grogra.imp.objects.ImageAdapter.$TYPE" directory="/objects/images"/>
        <poly name="font" type="de.grogra.imp.objects.FontAdapter.$TYPE" directory="/objects/fonts"/>
        <composite name="fontedit" type="de.grogra.imp.objects.FontAdapter.$TYPE" fields="{name,size}"/>
        <poly name="graph" type="de.grogra.imp.GraphDescriptor.$TYPE" directory="/objects/graphs"/>
      </ref>
      <ref name="layouts">
        <layout name="http">
          <or name=".available"/>
          <main>
            <split orientation="vertical">
              <link source="/ui/panels/log"/>
              <link source="/ui/panels/statusbar"/>
            </split>
          </main>
        </layout>
      </ref>
      <ref name="panels">
      <directory name="graph">
      	<panel name="hierarchicobjectinspector">
          <exists name=".available" ref="/project" />
      	  <object expr="de.grogra.imp.ObjectInspectorManager.createHierarchicalObjectInspector">
      	  	<var name="context" />
      	  	<vars />
      	  </object>
      	</panel>
        <panel name="flatobjectinspector">
          <exists name=".available" ref="/project" />
          <object expr="de.grogra.imp.ObjectInspectorManager.createFlatObjectInspector">
            <var name="context" />
            <vars />
          </object>
        </panel>
        </directory>
      </ref>
      <directory name="tools" elements="{{tool,de.grogra.imp.registry.ToolFactory}}"/>
    </ref>
    <directory name="renderers" optionCategory="true">
      <command name=".render" run="de.grogra.imp.View.render"/>
    </directory>
    <ref name="io">
      <ref name="mimetypes">
        <mimetype name="text/x-grogra-table+xml">
          <filter name="string" input="sax" create="de.grogra.imp.io.XMLTableReader"/>
          <filter name="double" input="sax" create="de.grogra.imp.io.XMLTableReader"/>
        </mimetype>
      </ref>
    </ref>
    <directory name="http" optionCategory="true">
      <directory name="commands">
        <command name="open" run="de.grogra.imp.net.HttpServer.openProject">
          <option name="directory" type="java.lang.String" value=""/>
        </command>
        <command name="about" run="de.grogra.imp.net.HttpServer.about"/>
      </directory>
      <command name="server" class="de.grogra.imp.net.HttpServerProject">
        <option name="port" type="java.lang.Integer" value="58080"/>
      </command>
    </directory>
    <directory name="connection" optionCategory="true">
      <directory name="commands">
        <command name="connectremote" run="de.grogra.imp.net.Commands.connectRemoteWorkbench"/>
        <command name="openclient" run="de.grogra.imp.net.Commands.openClientWorkbench"/>
        <command name="processors" run="de.grogra.imp.net.Commands.availableProcessors"/>
        <command name="version" run="de.grogra.imp.net.Commands.version"/>
      </directory>
      <command name="server" run="de.grogra.imp.net.ConnectionServer.start">
        <option name="port" type="java.lang.Integer" value="58090"/>
      </command>
      <command name="client" run="de.grogra.imp.IMP.openClientWorkbench"/>
    </directory>
    <ref name="hooks">
      <ref name="postboot">
        <insert target="/applications">
          <application name="de.grogra.GroIMP" run="de.grogra.imp.IMP.run"/>
        </insert>
        <void method="de.grogra.imp.io.ImageReader.installImageIO">
          <var name="registry"/>
        </void>
      </ref>
      <ref name="configure">
        <ref name="main">
          <insert target="/workbench/menu/src" resolveLinks="false">
            <directory name="file">
              <group name="openclose">
                <directory name="new">
                  <link source="/ui/commands/newproject"/>
                </directory>
                <link source="/ui/commands/open"/>
                <directory name="openrecent">
                  <command name=".openRecent" run="de.grogra.pf.ui.Workbench.openRecent" />
                </directory>
              </group>
              <group name="save"/>
              <group name="exit">
                <link source="/ui/commands/exit"/>
              </group>
            </directory>
            <directory name="edit">
              <group name="cutandpaste">
                <link source="/ui/commands/cut"/>
                <link source="/ui/commands/copy"/>
                <link source="/ui/commands/paste"/>
                <link source="/ui/commands/delete"/>
              </group>
            </directory>
            <directory name="objects"/>
            <directory name="panels">
              <link source="/ui/layouts"/>
              <link source="/ui/commands/addlayout"/>
              <link source="/ui/panels"/>
            </directory>
            <directory name="net">
              <link name="http" source="/http/server"/>
		      <link source="/connection/server"/>
		      <link source="/connection/client"/>
            </directory>
            <directory name="help">
              <group name="help">
                <link source="/ui/panels/help"/>
              </group>
              <group name="web">
          		<command name="openGroIMPPage" run="de.grogra.imp.net.BrowserLauncherImpl.openGroIMPPage"/>
          		<command name="openWikiPage" run="de.grogra.imp.net.BrowserLauncherImpl.openWikiPage"/>
              </group>              
              <group name="about">
                <command name="aboutsoftware" plugin="true"/>
              </group>
            </directory>
          </insert>
        </ref>
      </ref>
      <ref name="complete">
        <ref name="project">
          <insert target="/workbench" resolveLinks="false">
            <directory name="menu">
              <directory name="src">
                <directory name="file">
                  <group name="openclose">
                    <link source="/ui/commands/close"/>
                  </group>
                  <group name="save">
                    <link source="/ui/commands/save"/>
                    <link source="/ui/commands/saveas"/>
                  </group>
                </directory>
                <directory name="objects">
                  <link source="/objects/objects/file"/>
                </directory>
              </directory>
            </directory>
          </insert>
        </ref>
      </ref>
      <ref name="close">
        <void method="de.grogra.imp.net.HttpServerProject.close">
          <var name="context"/>
        </void>
      </ref>
    </ref>
  </registry>
</plugin>
