<?xml version = "1.0" encoding="UTF-8"?>
<plugin
  id="de.grogra.ext.x3d"
  version="0.9.8"
  class="de.grogra.ext.x3d.X3DPlugin"
  xmlns="http://grogra.de/registry">

  <import plugin="de.grogra.imp3d"/>
  
  <library file="X3D.jar" prefixes="{de.grogra.ext.x3d}"/>
 
  <registry>
  
    <ref name="attributes">
        <directory name="x3d">
          <attribute name="x3dSolid" />
          <attribute name="x3dRadius" />
          <attribute name="x3dSize" />
          <attribute name="x3dSide" />
          <attribute name="x3dAmbientIntensity" />
          <attribute name="x3dOn" />
          <directory name="view">
            <attribute name="drawAsSphere" />
            <attribute name="drawAsSpheres" />
            <attribute name="drawAsCylinder" />
            <attribute name="drawAsCylinders" />
          </directory>
        </directory>
    </ref>
  
    <ref name="io">
      <ref name="filetypes">
        <ext name="x3d" extensions="{.x3d}" mimeType="model/vnd.x3d"/>
      </ref>
      
      <ref name="mimetypes">
      
      	<!-- import filter -->
        <mimetype name="model/vnd.x3d">
          <filter 
          		input="sax" 
          		outputClass="de.grogra.graph.impl.Node" 
          		create="de.grogra.ext.x3d.X3DImport"/>
        </mimetype>
        
        <!-- export filter -->
        <ref name="application/x-java-jvm-local-objectref">
          <filter name="x3d"
            inputClass="de.grogra.imp3d.View3D"
            output="model/vnd.x3d; io=dom"
            create="de.grogra.ext.x3d.X3DExport">
            
            <eval name="de.grogra.imp3d.objects.Box"
              create="de.grogra.ext.x3d.io.X3DBoxIO"/>
            <eval name="de.grogra.imp3d.objects.Sphere"
              create="de.grogra.ext.x3d.io.X3DSphereIO"/>
            <eval name="de.grogra.imp3d.objects.Cylinder"
              create="de.grogra.ext.x3d.io.X3DCylinderIO"/>
            <eval name="de.grogra.imp3d.objects.Cone"
              create="de.grogra.ext.x3d.io.X3DConeIO"/>
            <eval name="de.grogra.imp3d.objects.LightNode"
              create="de.grogra.ext.x3d.io.X3DLightIO"/>
            <eval name="de.grogra.imp3d.objects.Parallelogram"
              create="de.grogra.ext.x3d.io.X3DParallelogramIO"/>
            <eval name="de.grogra.imp3d.objects.Plane"
              create="de.grogra.ext.x3d.io.X3DPlaneIO"/>

          </filter>
        </ref>
        
      </ref>
    </ref>
    
  </registry>
</plugin>
