<?xml version = "1.0" encoding="UTF-8"?>
<plugin
  id="de.grogra.ext.sunshine"
  version="0.9.7"
  class="de.grogra.ext.sunshine.SunshinePlugin"
  xmlns="http://grogra.de/registry">

  <library file="Sunshine.jar" prefixes="{de.grogra.ext.sunshine}"/>

  <import plugin="de.grogra.imp3d"/>

  <registry>
    <ref name="renderers">
    	<ref name="3d">
    	 
			<object name="Sunshine" expr="de.grogra.ext.sunshine.Sunshine">
			<var name="item"/>        	       	        	 
			  <option name="grid" type="java.lang.Integer" value="2" />
			  
			  <option name="rec_deep" type="java.lang.Integer" value="3" />
			  
			  <option name="pathTracer" type="java.lang.Boolean" value="false" />
			  
			  <option name="accelerator" type="java.lang.Boolean" value="true" />
        </object> 
    	</ref>
    </ref>
  </registry>
</plugin>
