<html>
  <head>
    <title>Changes</title>
  </head>
  <body>

<h2>== 1.4.3 ==</h2>
 * added export to file function to Dataset and DatasetRef (Example: Technics->ChartsDemo2.gsz)<br>
 * added leaf3d, getMesh and triangulate function<br>
 * added snapshot function to 2d graph view<br>
 * added changes tab at help panel (program history)<br>
 * added check for updates button / auto check at program start<br>
 * added list and help command to the console<br>
 * added Panel -> Graph -> Textual overview<br><br>

<h2>== 1.4.2 ==</h2>
 * added undo (derivation) step button (also as function for XL in Library; Example: Technics->undoStep.gsz)<br>
 * peped up and extended "Show Examples" gallery<br>
 * reactivated and changed splash screen (now: exchangeable foreground images)<br>
 * added possibility of coloured print and println statement to the XL-console (Example: Technics->colouredPrintlns.gsz)<br>
 * added new functions: getGraphSize(), getSceneGraphSize(), getTimeForRepaint(), getTimeForTraversingGraph() (Example: Technics->measureModelData.gsz)<br>
 * enhanced make snapshot / rendered image function (Example: Technics->MovieDemo.gsz)<br>
 * added export3DSzene function (Example: Technics->export3DScene.gsz)<br>
 * added background colour switcher for 3D-View<br>
 * updated / extended Chinese translation<br>

<h2>== 1.4.1 ==</h2>
 * fixed display problems with SMB objects<br>
 * fixed problem with reset-button in the GreenLab model<br><br>

<h2>== 1.4 ==</h2>
 * added GreenLab/XL<br>
 * added MTG support (import and export)<br>
 * added import and export of subgraphs via XML documents<br>
 * fixed bug for unimplemented methods from interfaces<br>
 * fixed bug of missing text labels when render window was resized<br>
 * fixed bug of missing textures when render window was resized<br>
 * fixed bug of VRML export<br><br>

<h2>== 1.3 ==</h2>
 * added GPUFlux - GPU-Raytracer + spectral rendering<br>
 * extended DTD project loader + support for editing DTD-files directly via JEdit<br> 
 * extended set of chart types<br>
 * Linux installer for Debian and Ubuntu<br>
 * win32 and win64 installer support<br>
 * added JNA wrapper for CVODE (part of SUNDIALS)<br>
 * added MTG import<br>
 * added Chinese translation<br>
 * added GreenLab/XL (experimental)<br>
 * added SMB (3D file format) import<br><br>

<h2>== 1.2.1 == (not official)</h2>
 * added DTD project loader<br><br>

<h2>== 1.2.0 ==</h2>
 * added GroPhysics<br>
 * added new layout algorithm for 2D view<br>
 * added point clouds as primitive<br>
 * added virtual laser-scanner<br>
 * added implicit volumes to raytracer<br>
 * added supershape primitive<br>
 * fixed bug when using multiple screens<br><br>

<h2>== 1.1.0 ==</h2>
 * new 3D view using GLSL<br>
 * new GroIMP icon<br>
 * fixed bug in Carpenter texture generator<br>
 * improved ODE support<br>
 * modified synchronization to allow updating of 3D view while integrating<br><br>

<h2>== 1.0.0 ==</h2>
 * added GPU-Raytracer Sunshine for PT, BPT, and spectral rendering (experimental)<br>
 * added support for ODEs<br>
 * added OpenAlea plugin<br>
 * improved X3D plugin (now uses XMLBeans to generate XML parser)<br>
 * added Object Inspector (hierarchical and flat)<br><br>

<h2>== 0.9.8 ==</h2>
 * added X3D import/export<br>
 * added Billboard generator<br>
 * extracted VMX (virtual machine extension) into its own plugin<br>
 * improved GUI<br>
 * node folding in 2D view<br><br>

<h2>== 0.9.7 ==</h2>
 *  DXF/OBJ import for 3D objects<br>
 * parallel version of the radiation model which makes use of multiple processors<br>
 * new examples shapes, Ludo, Sierpinski3D<br><br>

<h2>== 0.9.6 ==</h2>
 * changed licence from GPLv2 to GPLv3<br>
 * added 3D-CS (an XFrog clone)<br><br>

== 0.9.5 ==</h2>
 * LightModel<br>
 * HDR mode for Twilight renderer<br>
 * OpenEXR Writer<br>
 * SunSkyLight shader based on Sunflow<br>
 * Renaming of objects is possible within GUI<br>
 * Enhancements in Library class<br>
 * New module syntax<br>
 * Classes and modules declared in *.rgg-files are members of main RGG class<br>
 * Update to Retroweaver 2.0, ASM 3.0<br><br>

<h2>== 0.9.4 ==</h2>
 * DXF-Exporter<br>
 * Multiscale-Features (diploma thesis Soeren Schneider), enabling partial import/export from/to VRML and X3D<br>
 * HTTP server<br>
 * built-in raytracer improved, named "Twilight"<br>
 * uses retroweaver to allow developers to use Java 1.5, while retaining<br>
   JRE 1.4 compatibility for end users<br>
 * MeshNode, graph rotation systems<br><br>

<h2>== 0.9.3.2 ==</h2>
 * built-in raytracer & stochastical pathtracer<br>
 * Box usable as turtle command (transforms similar to Cylinder)<br>
 * XL compiler compiler supports the declaration and usage of variable arity methods<br>
 * Projects may contain several RGG, XL and Java files. In addition, JAR files can be included.<br>
 * Work on an RGG tutorial started<br>
 * Tropism commands RD RP RN<br><br>
 
  </body>
</html>
