<?xml version = "1.0" encoding="UTF-8"?>
<plugin id="de.grogra.ext.limelight" version="0.0.1"
  class="de.grogra.ext.limelight.LimelightPlugin" xmlns="http://grogra.de/registry">

  <library file="Limelight.jar" prefixes="{de.grogra.ext.limelight}" />

  <import plugin="de.grogra.imp3d" />

  <registry>
    <ref name="renderers">

      <ref name="3d">

        <object name="Limelight" expr="de.grogra.ext.limelight.Limelight">
          <var name="item" />
          <option name="grid" type="java.lang.Integer" value="2" />

          <option name="rec_deep" type="java.lang.Integer" value="3" />

          <option name="rel_brightness" type="java.lang.Float"
            value="1.0" />

          <option name="accelerator" type="java.lang.Boolean"
            value="false" />

          <option name="rayprocessor"
            type="de.grogra.ext.limelight.Limelight.RAYPROCESSOR" value="de.grogra.ext.limelight.LimelightPathtracer" />

          <optiongroup name="Additional_options">
            <option name="tile_size" type="java.lang.Integer"
              value="256" />
            <option name="refresh" type="java.lang.Integer"
              value="30" />
            <option name="loopSteps" type="java.lang.Integer"
              value="1000" />
          </optiongroup>

          <optiongroup name="SpecialOptions">
            <option name="sepSecRaySpawn" type="java.lang.Boolean"
              value="false" />
            <option name="sepUVMapping" type="java.lang.Boolean"
              value="false" />
            <option name="texSizeOffset" type="java.lang.Integer"
              value="0" />
          </optiongroup>

          <optiongroup name="BidirectionalPathTracer">
            <option name="eyeDepth" type="java.lang.Integer"
              value="10" />
            <option name="lightDepth" type="java.lang.Integer"
              value="10" />
            <option name="heuristicExp" type="java.lang.Integer"
              value="2" />
          </optiongroup>

          <optiongroup name="SpectralPathTracer">
            <option name="lambdaMin" type="java.lang.Integer"
              value="360" />
            <option name="lambdaMax" type="java.lang.Integer"
              value="830" />
            <option name="lambdaStep" type="java.lang.Integer"
              value="1" />
          </optiongroup>
        </object>

      </ref>

    </ref>

  </registry>
</plugin>
