<?xml version = "1.0" encoding="UTF-8"?>
<plugin
  id="de.grogra.rgg"
  version="1.3"
  xmlns="http://grogra.de/registry">

  <library file="RGG.jar" prefixes="{de.grogra.rgg,de.grogra.turtle,de.grogra.grogra,de.grogra.numeric,de.grogra.chem,de.grogra.mtg}"/>

  <import plugin="de.grogra.imp3d"/>
  <import plugin="de.grogra.xl.compiler"/>
  <import plugin="de.grogra.numeric"/>
  <import plugin="de.grogra.gpuflux"/>

  <registry>
	<ref name="objects">
		<ref name="3d">
			<ref name="geometry">
				<ref name="primitives">
					<object name="instance"
						class="de.grogra.rgg.Instance"/>
				</ref>
			</ref>
		</ref>
   	</ref>
    <ref name="io">
      <ref name="filetypes">
        <ext name="java" extensions="{.java}" mimeType="text/x-java"/>
        <ext name="xl" extensions="{.xl}" mimeType="text/x-grogra-xl"/>
        <ext name="rgg" extensions="{.rgg}" mimeType="text/x-grogra-rgg"/>
        <ext name="lsy" extensions="{.lsy,.ssy}" mimeType="text/x-grogra-lsy"/>
        <ext name="dtd" extensions="{.dtd}" mimeType="model/x-grogra-dtd"/>
        <ext name="dtg" extensions="{.dtg}" mimeType="model/x-grogra-dtg"/>
        <ext name="mtg" extensions="{.mtg}" mimeType="text/mtg"/>
      </ref>
      <ref name="mimetypes">
        <mimetype name="text/x-java" editable="true">
          <filter input="reader" outputClass="de.grogra.xl.compiler.CompilationUnit" create="de.grogra.rgg.model.JavaFilter"/>
        </mimetype>
        <mimetype name="text/x-grogra-xl" editable="true">
          <filter input="reader" outputClass="de.grogra.xl.compiler.CompilationUnit" create="de.grogra.rgg.model.XLFilter"/>
          <filter input="freader" outputClass="de.grogra.pf.io.ProjectLoader" create="de.grogra.pf.ui.registry.SourceFile$Loader">
            <link name="layout" source="/ui/layouts/rgg"/>
          </filter>
        </mimetype>
        <mimetype name="text/x-grogra-rgg" editable="true">
          <filter input="reader" outputClass="de.grogra.xl.compiler.CompilationUnit" create="de.grogra.rgg.model.RGGFilter"/>
          <filter input="freader" outputClass="de.grogra.pf.io.ProjectLoader" create="de.grogra.pf.ui.registry.SourceFile$Loader">
            <link name="layout" source="/ui/layouts/rgg"/>
          </filter>
        </mimetype>
        <mimetype name="text/x-grogra-lsy" editable="true">
          <filter input="reader" outputClass="de.grogra.xl.compiler.CompilationUnit" create="de.grogra.grogra.LSYFilter"/>
          <filter input="freader" outputClass="de.grogra.pf.io.ProjectLoader" create="de.grogra.pf.ui.registry.SourceFile$Loader">
            <link name="layout" source="/ui/layouts/rgg"/>
          </filter>
        </mimetype>
        <mimetype name="model/x-grogra-dtg">
          <filter input="reader" outputClass="de.grogra.graph.impl.Node" create="de.grogra.grogra.DTGFilter"/>
        </mimetype>
        <mimetype name="model/x-grogra-dtd" editable="true">
          <filter input="reader" outputClass="de.grogra.graph.impl.Node" create="de.grogra.grogra.DTDFilter"/>
          <filter input="freader" outputClass="de.grogra.pf.io.ProjectLoader" create="de.grogra.grogra.DTDSourceFile$Loader">
            <link name="layout" source="/ui/layouts/rgg"/>
          </filter>          
        </mimetype>
        <mimetype name="text/mtg" editable="true">
          <filter input="reader" outputClass="de.grogra.graph.impl.Node" create="de.grogra.mtg.MTGFilter"/>
          <filter input="freader" outputClass="de.grogra.pf.io.ProjectLoader" create="de.grogra.mtg.MTGSourceFile$Loader">
            <link name="layout" source="/ui/layouts/rgg"/>
          </filter>        
        </mimetype>
        <ref name="application/x-java-jvm-local-objectref">
          <filter name="compile" inputClass="de.grogra.xl.compiler.CompilationUnit" outputClass="de.grogra.pf.io.ResourceLoader" create="de.grogra.rgg.model.CompilationFilter"/>
        </ref>
      </ref>
      <directory name="filter">
        <directory name="rgg">
          <directory name="packageimports">
            <var name="java.lang"/>
            <var name="de.grogra.xl.lang"/>
            <var name="de.grogra.annotation"/>
            <var name="de.grogra.rgg"/>
            <var name="de.grogra.turtle"/>
            <var name="de.grogra.imp3d.objects"/>
            <var name="de.grogra.imp3d.shading"/>
            <var name="de.grogra.math"/>
            <var name="javax.vecmath"/>
            <var name="de.grogra.pf.data"/>
          </directory>
          <directory name="singletypeimports">
            <var name="de.grogra.graph.impl.Node"/>
            <var name="de.grogra.rgg.Attributes"/>
            <var name="de.grogra.numeric.GraphODE"/>
            <var name="de.grogra.numeric.Tolerance"/>
          </directory>
          <directory name="statictypeimports">
            <var name="de.grogra.xl.util.Operators"/>
            <var name="de.grogra.rgg.Library"/>
            <var name="de.grogra.vecmath.VecmathOperators"/>
            <var name="de.grogra.imp3d.shading.RGBAShader"/>
            <var name="de.grogra.pf.ui.ChartPanel"/>
            <var name="de.grogra.turtle.TurtleState"/>
            <var name="de.grogra.xl.impl.base.Graph"/>
          </directory>
        </directory>
      </directory>
    </ref>
    <ref name="ui">
      <ref name="panels">
        <directory name="rgg">
          <toolbar name="toolbar">
            <exists name=".available" ref="/project"/>
            <directory name="menu">
              <directory name="src">
                <link source="/ui/commands/save"/>
                <link source="/lsystem/analysis"/>
                <link source="/workbench/rgg/toolbar"/>
              </directory>
            </directory>
          </toolbar>
          <panel name="console">
            <exists name=".available" ref="/project"/>
            <object expr="de.grogra.rgg.model.ShellFilter.createConsole">
              <var name="context"/>
              <vars/>
            </object>
          </panel>
          <panel name="grogra">
            <object name="table" expr="createPanel">
              <object expr="de.grogra.pf.ui.UIToolkit.get">
                <var name="context"/>
              </object>
              <var name="context"/>
              <null/>
              <vars/>
            </object>
            <directory name="menu">
              <directory name="src">
                <directory name="data">
                  <link source="/ui/commands/exporttable"/>
                </directory>
                <link source="/grogra/analysis"/>
              </directory>
            </directory>
          </panel>
        </directory>
      </ref>
      <ref name="layouts">
        <layout name="rgg">
          <exists name=".available" ref="/project"/>
          <main>
            <split orientation="horizontal">
              <split orientation="vertical" location="0.8">
                <split orientation="vertical">
                  <link source="/ui/panels/rgg/toolbar"/>
                  <link source="/ui/panels/3d/defaultview"/>
                </split>
                <split orientation="vertical">
                  <tab>
                    <link source="/ui/panels/fileexplorer"/>
                    <link source="/ui/panels/objects/meta"/>
                  </tab>
                  <link source="/ui/panels/statusbar"/>
                </split>
              </split>
              <split orientation="vertical">
                <tab>
                  <link source="/ui/panels/texteditor"/>
                  <link source="/ui/panels/attributeeditor"/>
                </tab>
                <tab>
                  <link source="/ui/panels/log"/>
                  <link source="/ui/panels/rgg/console"/>
                </tab>
              </split>
            </split>
          </main>
        </layout>
      </ref>
    </ref>
    <directory name="rgg" optionCategory="true">
      <command name="toolbar">
        <option name="group_type" type="de.grogra.rgg.RGG.GROUP_TYPE" value="0" />
        <option name="numberToGroup" type="java.lang.Integer" value="3"/>
        <option name="useRunCheckBox" type="java.lang.Boolean" value="false"/>
      </command>
    </directory>
    <ref name="hooks">
      <ref name="configure">
        <ref name="main">
          <insert target="/workbench/menu/src/file/openclose/new" resolveLinks="false">
            <command name="rgg" class="de.grogra.rgg.model.NewRGG"/>
          </insert>
        </ref>
      </ref>
    </ref>
    <directory name="grogra">
      <directory name="analysis">
        <command name=".perform" run="de.grogra.grogra.Analysis.performAndShow"/>
        <object name="list of all shoots" expr="de.grogra.grogra.Analysis.listOfAllShoots">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="elementary" expr="de.grogra.grogra.Analysis.elementary">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="pathlength analysis" expr="de.grogra.grogra.Analysis.pathlengthAnalysis">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="basic tree parameters" expr="de.grogra.grogra.Analysis.basicTreeParameters">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="coordinates" expr="de.grogra.grogra.Analysis.coordinates">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="diameter table" expr="de.grogra.grogra.Analysis.diameterTable">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="elementary analysis of several trees" expr="de.grogra.grogra.Analysis.severalTreesAnalysis">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="branching positions" expr="de.grogra.grogra.Analysis.branchingPositions">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="number of daughter shoots" expr="de.grogra.grogra.Analysis.noOfDaughterShoots">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="shoot population" expr="de.grogra.grogra.Analysis.shootPopulation">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="length and angles" expr="de.grogra.grogra.Analysis.lengthAndAngles">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="crown layers" expr="de.grogra.grogra.Analysis.crownLayers">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="stem analysis" expr="de.grogra.grogra.Analysis.stemAnalysis">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="distribution analysis" expr="de.grogra.grogra.Analysis.distributionAnalysis">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="topological analysis" expr="de.grogra.grogra.Analysis.topologicalAnalysis">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
        <object name="axes analysis" expr="de.grogra.grogra.Analysis.axesAnalysis">
          <object expr="de.grogra.pf.ui.UI.getRootOfProjectGraph">
            <var name="context"/>
          </object>
        </object>
      </directory>
    </directory>
  </registry>
</plugin>
